<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>Welcome to a site devoted to the frogs and toads of Costa Rica--here for fun, for information, and as an additional resource to anyone that happens upon it. Frogs and toads hold a certain undeniable appeal to many of us. They are strikingly unusual creatures which are at the same time just similar enough to us, to reveal a greater connection with the natural world.</string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/CostaRicanFrog.jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>The door to happiness opens outwards.</string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/CameraZOOM-20111117013853.jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>The Boss 302 Mustang is a high performance variant of the Ford Mustang originally produced in 1969 and 1970, but revived in the 2012 model year. It was produced for the Trans Am racing series, while the Mustang Boss 429 which was produced the same years was built around a larger engine.</string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/2012-mustang-boss-302-170009-1280x800.jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Led Zeppelin were an English rock band, active in the late 1960s and throughout the 1970s. Formed as the New Yardbirds in 1968, the band consisted of guitarist Jimmy Page, singer Robert Plant, bassist/keyboardist John Paul Jones, and drummer John Bonham. The band are widely considered to be one of the most successful, innovative and influential groups in the history of music.</string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/music_led_zeppelin_bands_band_desktop_3505x2326_wallpaper-96766.jpeg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A parrot playing chess is more interesting than Vishwanath Anand Playing blind fold chess !!</string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/PensiveParakeet.jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A geeky power button HD photo. can be used as wallpaper. </string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/power.png</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Andre Villas-Boas is unlikely to succeed at Chelsea while his players are still in contact with ex-Blues boss Jose Mourinho, says Porto&apos;s president.</string>
		<key>URL</key>
		<string>http://news.bbcimg.co.uk/media/images/58503000/jpg/_58503752_mourinho.jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Ex-Chelsea caretaker manager Guus Hiddink been appointed manager of Russian side Anzhi Makhachkala.</string>
		<key>URL</key>
		<string>http://news.bbcimg.co.uk/media/images/58554000/jpg/_58554652_guushiddinkahsbeennamedasthenewmanagerofanzhimakhachkala..jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Porcupine tree is a british based progressive rock band. Steven Wilson is the back bone of the band. The band has also received the award, best Progressive rock band of 2000&apos;s</string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/pt13_1024x768.jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A periodic table of  fonts .</string>
		<key>URL</key>
		<string>http://dl.dropbox.com/u/33599683/Photos/typefaces-2.jpg</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Megan Fox is not in Transformers 3 Dark of the Moon and is replaced as Sam&apos;s love interest by Rosie Huntington-Whiteley. You may know her as a Victoria&apos;s Secret model.</string>
		<key>URL</key>
		<string>http://www.transformers3movie.co/wallpapers/transformers_jedineka.jpg</string>
	</dict>
</array>
</plist>
